In [5]:
import pandas as pd
file = 'SCDB_2021_01_caseCentered_Citation.dta'
df = pd.read_stata(file, convert_categoricals = False)
#df.head()

In [6]:
#dont run rn
date_col = 'dateArgument'
df['year'] = df[date_col].dt.year
df['month'] = df[date_col].dt.month
df['day'] = df[date_col].dt.day
df[[date_col,'month','year','day']].head()

  dateArgument  month    year   day
0   1946-01-09    1.0  1946.0   9.0
1   1945-10-10   10.0  1945.0  10.0
2   1945-11-08   11.0  1945.0   8.0
3   1946-01-31    1.0  1946.0  31.0
4   1946-10-25   10.0  1946.0  25.0

In [7]:
#dont run rn
date_col = 'dateDecision'
df['year'] = df[date_col].dt.year
df['month'] = df[date_col].dt.month
df['day'] = df[date_col].dt.day
df[[date_col,'month','year','day']].head()

  dateDecision  month  year  day
0   1946-11-18     11  1946   18
1   1946-11-18     11  1946   18
2   1946-11-18     11  1946   18
3   1946-11-25     11  1946   25
4   1946-11-25     11  1946   25

In [8]:
after_2000_df = df[df['year'] >= 2000]
between20002020_df = after_2000_df[after_2000_df['year'] < 2021]
min_year = between20002020_df['year'].min()
max_year = after_2000_df['year'].max()
print(min_year, max_year)

2000 2021

In [9]:
distance_dataframe = df[['dateDecision', 'dateArgument', 'term' ]]

In [6]:
#dont run rn
date_col = 'dateArgument'
df['year'] = df[date_col].dt.year
df['month'] = df[date_col].dt.month
df['day'] = df[date_col].dt.day
df[[date_col,'month','year','day']].head()

  dateArgument  month    year   day
0   1946-01-09    1.0  1946.0   9.0
1   1945-10-10   10.0  1945.0  10.0
2   1945-11-08   11.0  1945.0   8.0
3   1946-01-31    1.0  1946.0  31.0
4   1946-10-25   10.0  1946.0  25.0

In [7]:
#dont run rn
date_col = 'dateDecision'
df['year'] = df[date_col].dt.year
df['month'] = df[date_col].dt.month
df['day'] = df[date_col].dt.day
df[[date_col,'month','year','day']].head()

  dateDecision  month  year  day
0   1946-11-18     11  1946   18
1   1946-11-18     11  1946   18
2   1946-11-18     11  1946   18
3   1946-11-25     11  1946   25
4   1946-11-25     11  1946   25

In [10]:
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

In [13]:
from datetime import date
day_month = list[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
#df = distance_dataframe 
after_2000_df = df[df['term'] >= 2000] #limits 2000 or later
prd_df = after_2000_df[after_2000_df['term'] <= 2020] #limits to 2020 or earlier

prd_df['diff_days'] = prd_df['dateDecision'] - prd_df['dateArgument'] #gets differene between days
prd_df['diff_days'] = prd_df['diff_days']/np.timedelta64(1,'D') #expresses difference between days as integer

prd_df

,caseId,docketId,caseIssuesId,voteId,dateDecision,decisionType,usCite,sctCite,ledCite,lexisCite,...,lawMinor,majOpinWriter,majOpinAssigner,splitVote,majVotes,minVotes,year,month,day,diff_days
7455,2000-001,2000-001-01,2000-001-01-01,2000-001-01-01-01,2000-10-10,4,531 U.S. 1,121 S. Ct. 292,148 L. Ed. 2d 1,2000 U.S. LEXIS 6841,...,,NaN,NaN,1,9,0,2000,10,10,NaN
7456,2000-002,2000-002-01,2000-002-01-01,2000-002-01-01-01,2000-11-07,1,531 U.S. 4,121 S. Ct. 361,148 L. Ed. 2d 213,2000 U.S. LEXIS 7437,...,8 U.S.C. § 2244,105.0,102.0,1,9,0,2000,11,7,28.0
7457,2000-003,2000-003-01,2000-003-01-01,2000-003-01-01-01,2000-11-07,1,531 U.S. 12,121 S. Ct. 365,148 L. Ed. 2d 221,2000 U.S. LEXIS 7436,...,18 U.S.C. § 1341,109.0,102.0,1,9,0,2000,11,7,28.0
7458,2000-004,2000-004-01,2000-004-01-01,2000-004-01-01-01,2000-11-27,2,531 U.S. 28,121 S. Ct. 446,148 L. Ed. 2d 329,2000 U.S. LEXIS 8081,...,,NaN,NaN,1,9,0,2000,11,27,NaN
7459,2000-005,2000-005-01,2000-005-01-01,2000-005-01-01-01,2000-11-28,1,531 U.S. 32,121 S. Ct. 447,148 L. Ed. 2d 333,2000 U.S. LEXIS 8084,...,,104.0,103.0,1,6,3,2000,11,28,56.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9090,2020-070,2020-070-01,2020-070-01-01,2020-070-01-01-01,2021-03-29,2,,141 S. Ct. 1145,209 L. Ed. 2d 265,2021 U.S. LEXIS 1736,...,,NaN,111.0,1,8,1,2021,3,29,NaN
9091,2020-071,2020-071-01,2020-071-01-01,2020-071-01-01-01,2021-04-26,2,,141 S. Ct. 1467,209 L. Ed. 2d 431,2021 U.S. LEXIS 2224,...,,NaN,111.0,1,9,0,2021,4,26,NaN
9092,2020-072,2020-072-01,2020-072-01-01,2020-072-01-01-01,2021-07-02,2,,141 S. Ct. 2405,210 L. Ed. 2d 812,2021 U.S. LEXIS 3590,...,,NaN,111.0,1,6,3,2021,7,2,NaN
9093,2020-073,2020-073-01,2020-073-01-01,2020-073-01-01-01,2021-06-28,2,,141 S. Ct. 2226,210 L. Ed. 2d 617,2021 U.S. LEXIS 3557,...,,NaN,111.0,1,9,0,2021,6,28,NaN
9094,2020-074,2020-074-01,2020-074-01-01,2020-074-01-01-01,2021-06-28,2,,141 S. Ct. 2239,210 L. Ed. 2d 609,2021 U.S. LEXIS 3547,...,,NaN,111.0,1,6,3,2021,6,28,NaN

0    1946-11-18 00:00:00
1    1946-11-18 00:00:00
2    1946-11-18 00:00:00
3    1946-11-25 00:00:00
4    1946-11-25 00:00:00
Name: dd, dtype: object